:root {
  --resistance-count: 0;
  --current-count: 0;
}

@font-face {
  font-family: "IRANSans";
  src: url(https://www.arminmoder.ir/static/font/IRANSansXnum/Woff/IRANSansXFaNum-Medium.woff)
      format("woff"),
    url(https://www.arminmoder.ir/static/font/IRANSansXnum/Woff2/IRANSansXFaNum-Medium.woff2)
      format("woff2");
  font-weight: lighter;
  font-style: normal;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  font-family: IRANSans;
}
body {
  overflow: hidden;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  text-align: center;
  padding: 22px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1px;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.container form input.leftoggle {
  height: 0;
  margin: 12px 0;
  z-index: 12;
}
.container form input.leftoggle:checked {
  outline: 0;
  border: 0;
}

.container form input.leftoggle::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.25s linear;
}
.container form input.leftoggle::after {
  content: "" attr(title) "";
  position: relative;
  left: 30px;
  opacity: 0;
  display: block;
  bottom: 5px;
  min-width: 120px;
  font-size: 14px;
  color: white;
  transition: all 0.25s linear;
  font-weight: bold;
}
.container form input.leftoggle:checked::before {
  background-color: white;
}
.container form input.leftoggle:checked::after {
  opacity: 1;
  left: 20px;
}

.container
  form
  input.leftoggle:nth-child(1):checked
  ~ div.labels
  label.mainlabel {
  transform: translateY(-1%);
}
.container
  form
  input.leftoggle:nth-child(2):checked
  ~ div.labels
  label.mainlabel {
  transform: translateY(-100%);
}
.container
  form
  input.leftoggle:nth-child(3):checked
  ~ div.labels
  label.mainlabel {
  transform: translateY(-201%);
}
.container
  form
  input.leftoggle:nth-child(4):checked
  ~ div.labels
  label.mainlabel {
  transform: translateY(-301%);
}
.container
  form
  input.leftoggle:nth-child(5):checked
  ~ div.labels
  label.mainlabel {
  transform: translateY(-401%);
}
.container form .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container form .labels label.mainlabel {
  min-width: 103vw;
  min-height: 103vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  transition: transform 0.75s cubic-bezier(0.75, 0.25, 0, 1);
}
.container form .labels label.mainlabel:nth-child(2) {
  background-color: #29686a;
}
.container form .labels label.mainlabel:nth-child(1) {
  background-color: #2b2b2b;
}
.container form .labels label.mainlabel:nth-child(3) {
  background-color: #2c2865;
}
.container form .labels label.mainlabel:nth-child(4) {
  background-color: #33541c;
}

.container form .labels label.mainlabel .icon {
  position: absolute;
  bottom: 30px;
  font-size: 26px;
  display: flex;
  text-align: center;
  justify-content: center;
  right: 0;
  left: 0;
}

.wrapper p {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-weight: bold;
}
.wrapper i {
  font-size: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.wrapper .title {
  color: rgb(122, 202, 255);
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.wrapper .overlay ul {
  margin-top: 50px;
}
.wrapper .overlay li {
  list-style: none;
  display: block;
  text-align: center;
  padding: 2px;
  margin: 20px;
  justify-content: center;
}
.wrapper .overlay {
  width: 100vw;
  height: 100vh;
  background-color: #fb8541;
  position: absolute;
  bottom: -99%;
  left: 0;
}
@keyframes anim1 {
  0% {
    position: absolute;
    bottom: -99vh;
    left: 0;
  }
  30% {
    bottom: -99vh;
    left: -99.5vw;
  }
  50% {
    bottom: 0;
    left: -99.5vw;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes anim2 {
  0% {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 0;
    left: -99.5vw;
  }
  70% {
    bottom: -99vh;
    left: -99.5vw;
  }
  100% {
    bottom: -99vh;
    left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper .overlay li {
    list-style: none;
    display: block;
    text-align: right;
    padding: 2px;
    margin: 20px;
    justify-content: right;
  }
  .wrapper .overlay {
    width: 100vw;
    height: 100vh;
    background-color: #fb8541;
    position: absolute;
    bottom: -99%;
    left: 0;
  }
  .overlay ul li i {
    position: relative;
    transform: translate(2px, -9px);
  }
  .overlay ul li:nth-child(2) img {
    width: 28px;
    position: relative;
    transform: translate(62px, 5px) !important;
  }
  .overlay ul li:nth-child(1) {
    transform: translate(1px, 0px) !important;
  }

  .overlay ul li:nth-child(2) {
    transform: translate(-22px, 0px) !important;
  }
  .overlay ul li:nth-child(4) {
    transform: translate(5px, 0px) !important;
  }
  @keyframes anim1 {
    0% {
      position: absolute;
      bottom: -99%;
      left: 0;
    }
    20% {
      bottom: -99vh;
      left: -99vw;
    }
    50% {
      bottom: 0;
      left: -99vw;
    }
    100% {
      bottom: 0;
      left: -70vw;
    }
  }
  @keyframes anim2 {
    0% {
      position: absolute;
      bottom: 0;
      left: -70vw;
    }
    50% {
      bottom: 0;
      left: -99vw;
    }
    80% {
      bottom: -99vh;
      left: -99.5vw;
    }
    100% {
      bottom: -99vh;
      left: 0;
    }
  }
}

.information-nude {
  height: auto;
  width: 70%;
  overflow: hidden;
  display: block;
  position: relative;
  left: 14vw;
  top: -10vh;
  direction: rtl !important;
  text-align: center;
}
.information-nude p {
  font-size: 17px !important;
  line-height: 30px;
  margin: 0px;
  margin-bottom: 5px;
}

.information-nude h3 {
  font-size: 24px;
  margin: 20px;
  margin-top: 40px;
}
input.leftoggle {
  display: inline-block !important;
  width: 0px !important;
}

.information-nude h4 {
  text-align: right;
  font-size: 18px;
}
.rahnama p {
  display: block;
  text-align: right;
  padding-right: 10px;
}
.title-slide2 {
  justify-self: center;
  position: relative;
  top: -35vh;
}

#slide2 h2 {
  position: relative;
  top: -30vh;
  left: 70px;
}
#slide2 .content {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  background-color: #3f9497;
  min-height: 40vh;
  padding: 20px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 5%;
  box-shadow: rgb(39, 39, 39) 4px 7px 20px 4px;
}

#slide2 .content .inpgroupslide2 {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}
#slide2 .content div {
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
}

#slide2 .content div input {
  font-size: 20px;
  height: 30px;
  padding: 5px;
  direction: ltr;
  margin-right: 10px;
  background-color: #ecececdb;
  border: none;
  transition: all 0.5s linear;
}
#slide2 .content div input:focus {
  outline: none;
  border: none;
  transform: scale(1.05);
  background-color: #ffffff;
  box-shadow: rgba(39, 39, 39, 0.477) 4px 4px 20px 04px;
}

#slide2 button {
  position: relative;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 65%;
  background-color: #5380f7;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding: 16px 20px;
  cursor: pointer;
  height: 35px;
  margin-top: 20px;
  left: 1%;
}
#slide2 button:hover,
#slide3 button:hover {
  transform: scale(1.05);
  box-shadow: rgba(39, 39, 39, 0.477) 4px 4px 20px 04px;
  transition: all 0.5s linear;
}

.btn i {
  border-radius: 1000%;
  animation: ripple 0.6s linear infinite;
}
#slide3 h3 {
  display: none;
}

#slide3 h3 {
  position: relative;
  top: -40vh;
}
#slide3 .content {
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  min-width: 60vw;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5%;
}
#slide3 .content div {
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#slide3 .content div input {
  width: 100%;
  font-size: 20px;
  height: 30px;
  padding: 5px;
  direction: ltr;
  background-color: #ecececdb;
  border: none;
  transition: all 0.5s linear;
}
#slide3 .content div input:focus {
  outline: none;
  border: none;
  transform: scale(1.05);
  box-shadow: rgba(39, 39, 39, 0.477) 4px 4px 20px 04px;
}

#slide3 #resistanceInputs {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  background-color: rgb(14, 93, 162);
  min-height: 0vh;
  width: 40vw;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5%;
  box-shadow: rgb(39, 39, 39) 4px 7px 20px 4px;
  margin: 5px;
  max-width: 300px;
  max-height: 80vh;
  overflow: scroll;
  padding-top: 20px;
  direction: rtl;
}
#slide3 #resistanceInputs div:nth-child(1) {
  margin-top: calc(var(--resistance-count) * 32px);
}

#slide3 #currentInputs {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  background-color: rgb(14, 93, 162);
  min-height: 0vh;
  width: 40vw;
  max-width: 300px;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5%;
  box-shadow: rgb(39, 39, 39) 4px 7px 20px 4px;
  margin: 5px;
  max-height: 80vh;
  overflow: scroll;
  direction: rtl;
}
#slide3 #currentInputs div:nth-child(1) {
  margin-top: calc(var(--current-count) * 32px);
}
.inputfinal {
  display: flex;
  flex-direction: row;
}
#slide3 button {
  position: relative;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  background-color: #5380f7;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding: 16px 20px;
  cursor: pointer;
  height: 35px;
  margin-top: 20px;
  left: 1%;
}

.inputfinalp {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.next1 {
  position: fixed;
  right: 10px;
  bottom: 15px;
  z-index: 999;
  color: #fb8541;
  cursor: pointer;
  width: auto;
  height: auto;
  transition: all linear 0.3s;
  transform: rotateZ(90deg);
  border-radius: 100%;
}
.next1 i {
  width: 100%;
  height: 100%;
  font-size: 38px;
}
.next1 i:focus {
  outline: none;
  box-shadow: none;
  color: inherit; /* اگر رنگ تغییر می‌کند */
}
.next1:focus {
  outline: none;
  box-shadow: none;
  color: inherit;
}
.fa-solid {
  cursor: pointer;
}
.overlay a {
  color: #ffffff;
  font-size: 20px;
}

#slide3 #resistanceInputs div {
  direction: rtl;
}
::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 500px) {
  .next1 {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #slide3 #resistanceInputs div:nth-child(1) {
    margin-top: calc(var(--resistance-count) * 20px);
  }

  #slide3 #currentInputs div:nth-child(1) {
    margin-top: calc(var(--current-count) * 20px);
  }
  #slide2 h2 {
    font-size: 24px;
    top: -29.5vh;
    left: 70px;
  }
  #slide2 button {
    width: 95%;
  }
  #slide2 .content div {
    display: flex;
    flex-direction: column;
  }

  .icon {
    display: none !important;
  }
  .slide3title {
    display: none !important;
  }
  #slide3 h3 {
    position: relative;
    top: -40vh;
  }
  #slide3 .content {
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    min-width: 60vw;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;

    border-radius: 1%;
  }
  #slide3 .content div {
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px !important;
  }

  #slide3 #resistanceInputs {
    font-size: 18px;
    border-radius: 1%;
    margin: 5px;
    max-width: 300px;
    max-height: 80vh;
    overflow: scroll;
  }

  #slide3 #currentInputs {
    border-radius: 1%;
  }

  .inputfinal {
    display: flex;
    flex-direction: row;
  }

  .inputfinalp {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .ragaii {
    display: none;
  }
  .leftoggle {
    display: none;
  }
  .par1 {
    display: none !important;
  }
  .information-nude p {
    font-size: 15px !important;
  }
  .container form input.leftoggle::after {
    display: none;
  }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
  .container form input.leftoggle::after {
    display: none;
  }
  #slide3 .content div {
    justify-content: center;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  #slide3 .content div {
    justify-content: center;
  }
}

.overlay ul li i {
  position: relative;
  transform: translate(2px, -9px);
}
.overlay ul li:nth-child(2) img {
  width: 28px;
  position: relative;
  transform: translate(62px, 5px);
}
.overlay ul li:nth-child(1) {
  transform: translate(10px, 0px);
}

.overlay ul li:nth-child(2) {
  transform: translate(-2px, 0px);
}
.overlay ul li:nth-child(4) {
  transform: translate(18px, 0px);
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  flex-direction: column;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
}
.loading {
  font-size: 24px;
  margin-bottom: 20px;
}
.dots {
  position: relative;
  top: 56px;
  left: 74px;
}
.dots::after {
  content: "";
  display: inline-block;
  animation: dots 1.5s steps(3, end) infinite;
}
@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
.math {
  position: relative;
  min-width: 300px;
  min-height: 50px;
  overflow: hidden;
  margin-left: 100px;
}
#equation {
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}
#result {
  font-size: 32px;
  font-weight: bold;
  color: #ffd700;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 7%, #282c34 7%);
  left: 123px;
  top: 9px;
  text-indent: 20px;
  text-align: left;
  text-overflow: ellipsis;
  min-width: 300px;
  padding: 0px !important;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #e7e7e7;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 13px),
    #000 calc(100% - 12px)
  );
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}
.loader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
* {
  font-family: IRANSans;
}

